@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #050505;
  color: #eaeaea;
  overflow-x: hidden;
  font-family: system-ui, sans-serif;
}