@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: black;
  color: white;
  min-height: 100%;
  overflow-x: hidden;
}

/* STAR BACKGROUND */
.stars {
  position: fixed;
  inset: 0;
  z-index: 0;
  background-image:
    radial-gradient(1px 1px at 20px 30px, white, transparent),
    radial-gradient(1px 1px at 40px 70px, white, transparent),
    radial-gradient(1px 1px at 130px 80px, white, transparent),
    radial-gradient(1px 1px at 90px 120px, white, transparent);
  background-size: 200px 200px;
  animation: moveStars 60s linear infinite;
  opacity: 0.4;
}

@keyframes moveStars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 1000px;
  }
}